<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragmentos :: head('Editar professor # ' + ${id})}"></head>

<body>
	<header th:replace="~{fragmentos :: header('Editar professor # ' + ${id})}"></header>
	<div class="container">
		<form th:object="${professorDto}" th:action="@{/professores/{id}(id=${id})}" method="POST">
			<div class="form-group">
				<label for="formGroupExampleInput">Nome</label>
				<input th:field="*{nome}" type="text" class="form-control" id="formGroupExampleInput"
					placeholder="Nome">
			</div>
			<small th:errors="*{nome}"></small>
			<div class="form-group">
				<label for="formGroupExampleInput2">Salário</label>
				<input th:field="*{salario}" type="text" class="form-control" id="formGroupExampleInput2"
					placeholder="Salário">
			</div>
			<small th:errors="*{salario}"></small>
			<div class="form-group">
				<select th:field="*{statusProfessor}">
					<option th:each="status : ${T(me.joaof.regescweb.models.StatusProfessor).values()}"
						th:value="${status}" th:text="${status}"></option>
				</select>
			</div>
			<div>
				<button type="submit" class="btn btn-primary">Adicionar</button>
			</div>
		</form>
	</div>
</body>

</html>