<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
 <head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <title>Lista de professores</title>
 </head>
  <body>
	<div class="container mt-4">
		<div class="row">
			<h1>Lista de professores</h1>
		</div>
    <div class="row">
        <div class="col-12">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Salário</th>
                    <th scope="col">Status</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="professor : ${professores}">
                    <th class="col-1" scope="row" th:text="${professor.getId()}">ID</th>
                    <td class="col-4" th:text="${professor.getNome()}">Nome do Professor</td>
                    <td class="col-2" th:text="${professor.getSalario()}">Salário</td>
                    <td class="col-2" th:text="${professor.getStatusProfessor()}">STATUS</td>-->
                    <td class="col-1"><a href="#"></a></td>
                    <td class="col-1"><a href="#">Editar</a></td>
                    <td class="col-1"><a href="#">Deletar</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <a href="/professores/new">Novo Professor</a>
    </div>
</div>
  </body>
</html>
